<processing-indicator *ngIf="isProcessing"></processing-indicator>
<ng-container class="form-container">
  <div class="row">
    <div class="col-md-3">
      <mat-list>
        <a mat-list-item [class.active]="item.code === current.code" class="list-group-item" *ngFor="let item of steps"
          (click)="selectStep(item.code)">
          <mat-icon mat-list-icon>{{item.icon || 'folder'}}</mat-icon>
          <h4 mat-line>{{item.title}}</h4>
        </a>
      </mat-list>
    </div>
    <div class="col-md-9">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="detailheader">
            <mat-icon mat-list-icon>{{current.icon || 'folder'}}</mat-icon>
          </div>
          <mat-card-title class="title">{{current.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <div [class.hidden]="current.code !== 'personal'">
            <directory-personal-editor [usercode]="code" [readonly]="readonly" [employee]="employee" #personal>
            </directory-personal-editor>
          </div> -->
          <div [class.hidden]="current.code !== 'employment'">
            <!-- <div [class.hidden]="code === 'my'"> -->
            <directory-employment-editor [usercode]="code" [employee]="employee" [readonly]="readonly" #employment>
            </directory-employment-editor>
            <!-- </div> -->

            <!-- <div [class.hidden]="code!='my'">
              <directory-employment-viewer [usercode]="code" [employee]="employee" [readonly]="readonly" #employment>
              </directory-employment-viewer>
            </div> -->
          </div>
          <!-- <div [class.hidden]="current.code !== 'docs'">
            <drive-file-list-uploader #docs></drive-file-list-uploader>
          </div> -->
          <div [class.hidden]="current.code !== 'address'">
            <oa-address-editor [readonly]="readonly" (changed)="employee.address = $event" [value]="employee.address"
              #address>
            </oa-address-editor>
          </div>
          <!-- <div [class.hidden]="current.code !== 'details'">
            <directory-details-editor [readonly]="readonly" [employee]="employee" #details></directory-details-editor>
          </div> -->

          <div [class.hidden]="current.code !== 'security'">
            <directory-security-editor [readonly]="readonly" [userCode]="employee.code" #security>
            </directory-security-editor>
          </div>
          <div [class.hidden]="current.code !== 'password'">
            <div class="col-sm-6 ">
              <directory-reset-password-editor [change]="readonly" [employeeCode]="employee.code" #password>
              </directory-reset-password-editor>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>


</ng-container>
